<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Resume Uploader</title>
</head>
<body>
    <div class="container">
        <h1>Upload Your Resume</h1>
        <form action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <input type="submit" value="Upload">
        </form>
        {% if generated_content %}
        <form action="/generated_website" method="get">
            <input type="hidden" name="generated_content" value="{{ generated_content }}">
            <br>
            <input type="submit" value="View Generated Content">
        </form>
        {% endif %}
    </div>
</body>
</html>
